<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"  />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/xiyuba?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
		<property name="maxIdle"> 
			<value>10</value> 
		</property>
		<property name="initialSize">
            <value>10</value>
        </property>
        <property name="maxActive">
            <value>10</value>
        </property>
       
  		
        <property name="maxWait"> 
			<value>120000</value> 
		</property> 
		 <property name="timeBetweenEvictionRunsMillis">
  		 	<value>3600000</value><!--1 hours-->
  		</property>
  		<property name="testWhileIdle">
   			<value>true</value>
  		</property>
  		<property name="validationQuery">
   			<value>select 1 from dual</value>
  		</property>
	</bean>
	
</beans>