@charset "utf-8";
/* CSS Document */
body { margin: 0px; }
a.v1:link,a.v1:visited{ color:#054283; text-decoration:none;  /*超链接无下划线*/  }
a.v2:link,a.v2:visited{ color:#FFF; text-decoration:none;  /*超链接无下划线*/  }
a.v3:link,a.v3:visited{  color:#054283; text-decoration:none;  /*超链接无下划线*/  }
a { text-decoration: none; }
a:link,a:visited,a:hover,a:active { text-align: none; color: blue; }
#container{ padding-top:50px; width:100%; height: 100%; overflow: auto; margin:0 auto; font-family: "Microsoft Yahei",sans-serif; _height: auto;}

/*头部*/
#head{ width:1000px; height:240px; float:left;}
/*logo和文字*/
#logo{ width:1000px; height:160px; background-color:#4fb7ec;}
#logo_pic{ width:251px; height:82px; margin-top:30px; margin-left:40px; float:left;}
#logo_word{ width:460px; height:50px; float:right; margin-top:65px; margin-right:210px;}
/*注册 登录*/
#login_register{ width:1000px; height:37px; float:left;}
/*登录*/
#login{ width:490px; height:27px; float:left; margin-top:3px; margin-left:45px; color:#054283; font-weight:600; margin-right:0;}
#loginbutton{width:48px; height:30px; font-size:15px; color:#054283; font-weight:500; font-family:"Microsoft Yahei",sans-serif;}
/*注册*/
#register{ width:34px; height:28px; float:left; margin-top:10px; font-weight:600; margin-left:0; color:#054283;}
/*其他账号登录*/
#otherlogin{ width:400px; height:28px; float:right; margin-top:9px; font-size:15px; font-weight:600;}
#qqpic{ width:23px; height:23px; float:left;}/*QQ帐号登录*/
#qqnum{ width:90px; height:20px; margin-left:3px; margin-right:10px; margin-top:4px;float:left; color:#054283;}
#sinapic{width:23px; height:23px; float:left;}/*新浪账号登录*/
#sinanum{ width:100px; height:20px;float:left; margin-top:4px; margin-left:4px; color:#054283; margin-right:5px;}
#renrenpic{width:23px; height:23px; float:left}/*人人账号登录*/
#renrennum{width:100px; height:20px;float:left; margin-top:4px; margin-left:4px; color:#054283;}
/*导航*/
#navigation{ width:1000px; height:43px; float:left; background-color:#034285; }
#mainpage1{ width:140px; height:43px; font-size:24px; float:left; font-weight:500; text-align: center; line-height: 42px;}
#mypage{ width:140px; height:43px; font-size:24px; float:left; font-weight:500; text-align: center; line-height: 42px;}
#friend{ width:140px; height:43px; font-size:24px; float:left; font-weight:500; text-align: center; line-height: 42px;}
#app{ width:140px; height:43px; font-size:24px; float:left; font-weight:500; text-align: center; line-height: 42px;}
#forum{ width:140px; height:43px; font-size:24px; float:left; font-weight:500; text-align: center; line-height: 42px;}
/*搜索*/
#search{ width:200px; height:26px; margin-top:5px; margin-left:30px; float:left; line-height:26px;}
#search_pic{ width:29px; height:29px; float:left; margin-top:5px; margin-left:15px;}

/*body部分*/
#body{ width:1000px; height: 100%; overflow: auto; _height: auto;}
/*body左部*/
#left{ width:160px; height:960px; float:left; font-size:15px;}
/*链接*/
#newguide{ width:160px; height:50px; float:left; background-color:#ffc30d; font-weight:600;}
#guide_pic{ margin-left:42px; margin-top:10px; float:left; margin-right:0;}
#guide_word{ width:75px; height:20px; float:right; margin-top:15px; margin-right:10px; font-size:15px;}
.leftbule{ width:160px; height:30px; float:left; background-color:#3FB7EC; margin-bottom:1px;}/*左部蓝条*/
.leftwhite{ width:160px; height:30px; float:left; margin-bottom:1px; background-color:#FFFFFF;}/*左部白条*/
#mainpage_pic{  margin-left:42px; margin-top:4px; float:left; margin-right:0; }
#mainpage_word{ width:75px; height:20px; float:right; margin-top:5px; margin-right:10px;font-size:15px;}
/*我的主页*/
#mypage_pic{  margin-left:42px; margin-top:4px; float:left; margin-right:0;}
#mypage_word{ width:75px; height:20px; float:right; margin-top:5px; margin-right:10px;font-size:15px;}
#iyu{ width:20px; margin:auto;font-size:14px;}
#wordsnote{ width:50px; margin:auto;font-size:14px;}
#album{ width:35px; margin:auto;font-size:14px;}
#log{ width:35px; margin:auto;font-size:14px;}
#share{ width:35px; margin:auto;font-size:14px;}
/*关注*/
#attention_pic{  margin-left:42px; margin-top:4px; float:left; margin-right:0;}
#attention_word{ width:75px; height:20px; float:right; margin-top:5px; margin-right:10px;font-size:15px;}
#myattention{ width:70px; margin:auto;font-size:14px;}
#eachotherattention{ width:70px; margin:auto;font-size:14px;}
#quietlyattention{ width:70px; margin:auto;font-size:14px;}
/*应用*/
#app_pic{ margin-left:42px; margin-top:4px; float:left; margin-right:0;}
#app_word{ width:75px; height:20px; float:right; margin-top:5px; margin-right:10px;font-size:15px;}
#bbc{ width:120px; margin:auto;font-size:14px;}
#voa{ width:110px; margin:auto;font-size:14px;}
#get{ width:100px; margin:auto;font-size:14px;}
#fans_pic{ margin-left:42px; margin-top:4px; float:left; margin-right:0;}
#fans_word{ width:75px; height:20px; float:right; margin-top:5px; margin-right:10px; font-size:15px;}
#invite_pic{ margin-left:42px; margin-top:4px; float:left; margin-right:0;}
#invite_word{ width:75px; height:20px; float:right; margin-top:5px; margin-right:10px; font-size:15px;}
#private_letter_pic{ margin-left:42px; margin-top:4px; float:left; margin-right:0;}
#private_letter_word{ width:75px; height:20px; float:right; margin-top:5px; margin-right:10px; font-size:15px;}
#findsb_pic{ margin-left:42px; margin-top:4px; float:left; margin-right:0;}
#findsb_word{ width:75px; height:20px; float:right; margin-top:5px; margin-right:10px; font-size:15px;}
/*中部*/
#middle{ width:580px; height: 100%; overflow: auto; float:left; padding-left: 10px; display: inline; _height: auto;}
#middle-and-right { margin-left: 20px; width:800px; height: 100%; overflow: auto; float:left; padding-left: 10px; font-family: Microsoft Yahei, Tahoma, Verdana; _height: auto;}
/*右部*/
#right{ width:240px; height:960px; float:right; display: inline;}
#head_portrait{ float:left; margin-top:5px;}
#iyuba{ width:50px; height:20px; float:left; margin-top:1px; margin-left:30px; font-size:15px; font-weight:600; color:#054283;}
#level{ width:30px; height:21px; float:right; margin-top:3px; margin-right:92px; display: inline; }
/*关注 i语 回复数目*/
.line1{ width:5px; height:10px; float:left; font-weight:600; color:#054283; font-size:12px; margin-top:14px; margin-left:1px;}
#attention2{ width:30px; height:35px; float:left; margin-left:30px; margin-top:13px;font-size:14px;font-weight:600; color:#054283; display: inline;}
#iyu2{ width:25px; height:35px; float:left; margin-left:2px; margin-top:13px;font-size:14px;font-weight:600; color:#054283;}
#reply{ width:30px; height:35px; float:left; margin-left:2px; margin-top:13px;font-size:14px;font-weight:600; color:#054283;}

/*应用推荐*/
#apprecommend{ width:222px; height:180px; float:left; font-size:15px;font-weight:600; color:#054283; margin-top:22px;}
#apprecommend_pic{ width:222px; height:151px; margin-top:15px; background-color:#CFF;}

/*可能感兴趣的人*/
#intrestsb{ width:222px; height:260px; float:left; margin-top:15px; font-size:15px;font-weight:600; color:#054283; margin-bottom:25px;}
.intrestsb{ width:222px; height:50px; float:left; margin-top:10px; font-weight:500;}
.intrestsb_pic{ height:46px ;width:46px; float:left;}
.iyuba{ width:50px; height:20px; float:left; margin-left:12px;}
.addattention{ width:32px; height:19px; float:right; margin-right:25px;}
.introduction{ width:170px; height:20px; float:left; font-size:12px; margin-left:5px; margin-top:10px;}
.picture{ width:222px; height:144px; float:left; background-color:#CFF; margin-bottom:5px;}
/*建议 咨询 投诉*/
#advise{ width:35px; height:20px; float:left; font-size:15px; font-weight:600; color:#054283; margin-left:15px; margin-right:15px; margin-top:5px; display: inline;}
#consult{ width:35px; height:20px; float:left; font-size:15px; font-weight:600; color:#054283; margin-left:15px; margin-right:15px; margin-top:5px;}
#complain{ width:35px; height:20px; float:left; font-size:15px; font-weight:600; color:#054283; margin-left:15px; margin-top:5px;}
.line2{width:5px; height:10px; float:left; font-weight:600; color:#054283; font-size:12px; margin-top:5px; margin-left:1px;}
/*底部导航*/
#foot{ width:1000px; height:55px; background-color:#b4def4; float:left;}
#footmainpage{width:40px; height:20px; font-size:17px; float:left; font-weight:500; margin-left:220px; margin-top:15px; color:#054283; font-weight:600;}
#footmypage{ width:80px; height:20px; font-size:17px; float:left; font-weight:500; margin-left:80px; margin-top:15px; font-weight:600;}
#footfriend{ width:40px; height:20px; font-size:17px; float:left; font-weight:500; margin-left:80px; margin-top:15px; font-weight:600;}
#footapp{ width:40px; height:20px; font-size:17px; float:left; font-weight:500; margin-left:80px; margin-top:15px; font-weight:600;}
#footforum{ width:40px; height:20px; font-size:17px; float:left; font-weight:500; margin-left:80px; margin-top:15px; font-weight:600;}
/* 分页 */
.pager {color: #2373A9; cursor: pointer; text-decoration: none;}