/applicationContext-cache.xml
/applicationContext-security.xml
/applicationContext.xml
/backup_database.properties
/database.properties
/freemarker.properties
/i18n_en_US.properties
/i18n_zh_CN.properties
/log4j.properties
/net
/oscache.properties
/shopxx.xml
/struts.xml
/xwork-conversion.properties
